@model AllQueryResultsViewModel


<h2>Category Ratings</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryRatings)
        {
            <tr>
                <td>@item.KategoriaNev</td>
                <td>@item.AtlagErtekeles</td>
            </tr>
        }
    </tbody>
</table>

<h2>User Comment Counts</h2>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Comment Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserCommentCounts)
        {
            <tr>
                <td>@item.FelhasznaloNev</td>
                <td>@item.KommentSzam</td>
            </tr>
        }
    </tbody>
</table>

<h2>Category Image Counts</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Image Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryImageCounts)
        {
            <tr>
                <td>@item.KategoriaNev</td>
                <td>@item.KepSzam</td>
            </tr>
        }
    </tbody>
</table>

<h2>User Image Counts</h2>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Image Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserImageCounts)
        {
            <tr>
                <td>@item.FelhasznaloNev</td>
                <td>@item.KepSzam</td>
            </tr>
        }
    </tbody>
</table>

<h2>Country Photo Counts</h2>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Photo Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TelepulesPhotoCounts)
        {
            <tr>
                <td>@item.Telepules</td>
                <td>@item.Darab</td>
            </tr>
        }
    </tbody>
</table>
