@model PhotoApp.Models.Felhasznalo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Felhasznalo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jelszo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jelszo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.szuletes_datuma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.szuletes_datuma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
