@model PhotoApp.Models.Palyazat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Palyazat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hatarido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hatarido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leiras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leiras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nyertes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nyertes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferencedKategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferencedKategoria.nev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
