@model IEnumerable<PhotoApp.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferencedFelhasznalo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferencedFelhasznalo.nev)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> 
                @if((@ViewBag.role==1) || (item.ReferencedFelhasznalo.id == @ViewBag.felhaszID)){
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
